<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro/#interface">                                                                                                                                              
	<xacro:property name="M_PI" value="3.1415926535897931" />

	<!-- Casters -->
	<xacro:property name="cal_caster_fl" value="0.0" />
	<xacro:property name="cal_caster_fr" value="0.0" />
	<xacro:property name="cal_caster_bl" value="0.0" />
	<xacro:property name="cal_caster_br" value="0.0" />

</robot>
